:global(#wiki-main-title) {
    --bulma-hero-color-l: 100%;
}

.navbar-item, .navbar-link {
    gap: 0;
}

.notification {
    margin-bottom: 1rem;
}

:global(.mobile-search-navbar) .navbar-brand {
    &,
    & .navbar-item,
    & .navbar-item > * {
        width: 100%;
    }
}
