:global(body.theseed-dark-mode) {
    background: #414141;
    color: #c8c8c8;

    .nav {
        background: #424242;
        color: #d2d2d2;

        a:hover {
            background: dimgray;
            color: white;
        }

        a {
            color: #a0a0a0;
        }

        .navbar-menu,
        .navbar-item .navbar-link,
        .navbar-menu,
        .navbar-item {
            background: #424242;
        }

        .navbar-dropdown {
            background: #424242;
        }

        .navbar-item.is-hoverable:hover .navbar-link,
        .navbar-divider {
            background: #787878;
        }

        .dropdown-content {
            background: #424242;
            color: #dcdcdc;
        }
    }

    .hero.is-primary {
        background: #345f59;
    }

    .hero.is-danger {
        background: #511f29;
    }

    footer.footer {
        background: #323232;
    }

    input.input {
        background: #505050;
        border-color: #c8c8c8;
        color: #dcdcdc;
        &::placeholder {
            color: #dcdcdc;
        }
    }

    .field .control .button {
        background: #787878;
        color: #f0f0f0;
    }

    table th {
        color: #c8c8c8;
    }

    a {
        color: #e69500;
    }

    a:hover {
        color: #ffaf1a;
    }

    pre {
        background: #202020;
        color: #bbb;
    }
}
