    <div class="nav navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">{{config.getString('wiki.site_name', 'Wiki')}}</a>
            <button class="button navbar-burger" data-target="mainNavbar">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="navbar-menu" id="mainNavbar">
            <div class="navbar-start">
                <a href="/RecentChanges" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-binoculars"></i>
                    </span> 최근 변경</a>
                <a href="/RecentDiscuss" class="navbar-item">
                    <span class="icon">
                        <i class="far fa-comments"></i>
                    </span> 최근 토론</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="#" class="navbar-link">
                        <span class="icon">
                            <i class="fas fa-cogs"></i>
                        </span> 도구</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/NeededPages">
                            <span class="icon">
                                <i class="fas fa-beer"></i>
                            </span>
                            작성이 필요한 문서
                        </a>
                        <a class="navbar-item" href="/OrphanedPages">
                            <span class="icon">
                                <i class="far fa-frown"></i>
                            </span>
                            고립된 문서
                        </a>
                        <a class="navbar-item" href="/UncategorizedPages">
                            <span class="icon">
                                <i class="far fa-question-circle"></i>
                            </span>
                            분류가 되지 않은 문서
                        </a>
                        <a class="navbar-item" href="/OldPages">
                            <span class="icon">
                                <i class="fas fa-pause"></i>
                            </span>
                            편집된 지 오래된 문서
                        </a>
                        <a class="navbar-item" href="/ShortestPages">
                            <span class="icon">
                                <i class="far fa-thumbs-down"></i>
                            </span>
                            내용이 짧은 문서
                        </a>
                        <a class="navbar-item" href="/LongestPages">
                            <span class="icon">
                                <i class="far fa-thumbs-up"></i>
                            </span>
                            내용이 긴 문서
                        </a>
                        <a class="navbar-item" href="/BlockHistory">
                            <span class="icon">
                                <i class="fas fa-ban"></i>
                            </span>
                            차단 내역
                        </a>
                        <a class="navbar-item" href="/RandomPage">
                            <span class="icon">
                                <i class="fas fa-random"></i>
                            </span>
                            RandomPage
                        </a>
                        <a class="navbar-item" href="/Upload">
                            <span class="icon">
                                <i class="fas fa-cloud-upload-alt"></i>
                            </span>
                            파일 올리기
                        </a>
                        <a href="/License" class="navbar-item">
                            <span class="icon">
                                <i class="far fa-copyright"></i>
                            </span> 라이선스</a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field">
                        <div class="control has-icons-left">
                            <input class="input is-primary" type="text" placeholder="검색" id="wikiSearch">
                            <span class="icon is-small is-left">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="#" class="navbar-link">
                        {% if member %}
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span> {{ member.username }}</a>
                        {% else %}
                        <span class="icon">
                            <i class="fas fa-user-secre"></i>
                        </span> 익명</a>
                        {% endif %}
                    <div class="navbar-dropdown is-right">
                        <a href="#" id="skin-settings" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-wrench"></i>
                            </span> 스킨 설정</a>
                        <div class="navbar-divider"></div>
                        {% if member %}
                        <a href="/member/mypage" class="navbar-item">
                            <span class="icon">
                                <i class="far fa-user-circle"></i>
                            </span> 내정보</a>
                        <a href="/w/{{ member.username | encode_userdoc }}" class="navbar-item">
                            <span class="icon">
                                <i class="far fa-sticky-note"></i>
                            </span> 내 사용자 문서</a>
                        <div class="navbar-divider"></div>
                        <a href="/contribution/author/{{ member.username }}/document" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-chart-line"></i>
                            </span> 내 문서 기여 목록</a>
                        <a href="/contribution/author/{{ member.username }}/discuss" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-chart-bar"></i>
                            </span> 내 토론 기여 목록</a>
                        <div class="navbar-divider"></div>
                        <a href="/member/logout?redirect={{ url | url_encode }}" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span> 로그아웃</a>
                        {% else %}
                        <a href="/member/login?redirect={{ url | url_encode }}" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-sign-in-alt"></i>
                            </span> 로그인</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="hero is-primary" id="wiki-main-title">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ skinInfo.title }}
                </h1>
                <h2 class="subtitle">
                    {% if skinInfo.viewName == 'wiki' and date %}
                    {{ date | to_date | localdate('Y-m-d H:i:sO') }}에 마지막으로 수정됐습니다.
                    {% else %}
                    Powered by the seed engine
                    {% endif %}
                </h2>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-left is-boxed" id="wiki-article-menu">
                    <ul>
                        {% if document %}
                        <li {% if skinInfo.viewName == 'wiki' %} class="is-active" {% endif %}>
                            <a href="/w/{{ document|encode_doc }}">
                                <span class="icon">
                                    <i class="fas fa-eye"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 읽기</span>
                            </a>
                        </li>
                        <li {% if skinInfo.viewName == 'edit' %} class="is-active" {% endif %}>
                            <a href="/edit/{{ document|encode_doc }}" class="edit-anchor">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 편집</span>
                            </a>
                        </li>
                        <li {% if skinInfo.viewName == 'thread' || skinInfo.viewName == 'thread_list' || skinInfo.viewName == 'thread_list_close' %} class="is-active" {% endif %}>
                            <a href="/discuss/{{ document|encode_doc }}">
                                <span class="icon">
                                    <i class="far fa-comments"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 토론</span>
                            </a>
                        </li>
                        <li {% if skinInfo.viewName == 'move' %} class="is-active" {% endif %}>
                            <a href="/move/{{ document|encode_doc }}">
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 이동</span>
                            </a>
                        </li>
                        <li {% if skinInfo.viewName == 'delete' %} class="is-active" {% endif %}>
                            <a href="/delete/{{ document|encode_doc }}">
                                <span class="icon">
                                    <i class="far fa-trash-alt"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 삭제</span>
                            </a>
                        </li>
                        <li {% if skinInfo.viewName == 'xref' %} class="is-active" {% endif %}>
                            <a href="/xref/{{ document|encode_doc }}">
                                <span class="icon">
                                    <i class="fas fa-random"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 역링크</span>
                            </a>
                        </li>
                        <li {% if skinInfo.viewName == 'history' %} class="is-active" {% endif %}>
                            <a href="/history/{{ document|encode_doc }}" class="history-anchor">
                                <span class="icon">
                                    <i class="fas fa-history"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 역사</span>
                            </a>
                        </li>
                        <li {% if skinInfo.viewName == 'acl' %} class="is-active" {% endif %}>
                            <a href="/acl/{{ document|encode_doc }}">
                                <span class="icon">
                                    <i class="fas fa-key"></i>
                                </span>
                                <span class="wiki-article-menu-text"> ACL</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="is-active">
                            <a href="#">
                                <span class="icon">
                                    <i class="fas fa-cogs"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 특수문서</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% if user_document_discuss %}
            <div class="notification is-link" data-id="{{ member.username }}-{{ user_document_discuss }}">
                <button class="delete"></button>
                <a href="/discuss/{{ member.username | encode_userdoc }}">사용자 토론</a>이 있습니다. 확인해주세요.
            </div>
            {% endif %}
            <div class="wiki-article content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    Content is available under <a href="//creativecommons.org/licenses/by-nc-sa/2.0/kr/">CC BY-NC-SA 2.0 KR</a>.<br>
                    theseed-skin-buma by LiteHell, the seed engine by theseed.io
                </p>
            </div>
        </div>
    </footer>
    <div class="modal settings-modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">buma 스킨 설정</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <h2 class="title is-4">위키 문서내 취소선</h2>
                <h2 class="subtitle is-6">위키 문서내 취소선을 싫어하시는 분들을 위한 설정입니다.</h3>
                <div class="field">
                    <div class="control">
                        <label class="raido">
                            <input type="radio" name="hideDeletedOnWiki" value="hide"> 숨기기
                        </label>
                        <label class="raido">
                            <input type="radio" name="hideDeletedOnWiki" value="undelete"> 취소선 해제
                        </label>
                        <label class="raido">
                            <input type="radio" name="hideDeletedOnWiki" value="doNothing"> 아무것도 하지 않음
                        </label>
                        <label class="raido">
                            <input type="radio" name="hideDeletedOnWiki" value="skinDefault"> 스킨 기본값
                        </label>
                    </div>
                </div>
                <h2 class="title is-4">Animated gif를 동영상으로 보여주지 않기</h2>
                <h2 class="subtitle is-6">GIF가 정상적으로 재생되지 않는 경우 시도하십시오.</h3>
                    <div class="field">
                        <div class="control">
                            <label class="raido">
                                <input type="radio" name="noVideoForGif" value="yes"> 네
                            </label>
                            <label class="raido">
                                <input type="radio" name="noVideoForGif" value="no"> 아니오
                            </label>
                            <label class="raido">
                                <input type="radio" name="noVideoForGif" value="skinDefault"> 스킨 기본값
                            </label>
                        </div>
                    </div>
                <h2 class="title is-4">문단 제목 기본으로 접기</h2>
                <h2 class="subtitle is-6">문단 제목을 기본으로 접을시의 여부입니다.</h3>
                    <div class="field">
                        <div class="control">
                            <label class="raido">
                                <input type="radio" name="foldHeadingsByDefault" value="yes"> 네
                            </label>
                            <label class="raido">
                                <input type="radio" name="foldHeadingsByDefault" value="no"> 아니오
                            </label>
                            <label class="raido">
                                <input type="radio" name="foldHeadingsByDefault" value="skinDefault"> 스킨 기본값
                            </label>
                        </div>
                    </div>
                <h2 class="title is-4">더블 클릭시 행동</h2>
                <h2 class="subtitle is-6">더블 클릭시의 행동입니다.</h3>
                    <div class="field">
                        <div class="control">
                            <label class="raido">
                                <input type="radio" name="behaviorWhenDblClick" value="edit"> 편집
                            </label>
                            <label class="raido">
                                <input type="radio" name="behaviorWhenDblClick" value="history"> 역사
                            </label>
                            <label class="raido">
                                <input type="radio" name="behaviorWhenDblClick" value="doNothing"> 아무것도 하지 않음
                            </label>
                            <label class="raido">
                                <input type="radio" name="behaviorWhenDblClick" value="skinDefault"> 스킨 기본값
                            </label>
                        </div>
                    </div>
                <article class="message is-info">
                  <div class="message-header">
                    <p>안내</p>
                  </div>
                  <div class="message-body">
                      스킨 설정은 현재 개발중으로, 모자라고 오작동할 수 있습니다. 또한 변경된 스킨 설정은 새로고침해야 적용됩니다.
                </div>
                </article>
            </section>
        </div>
    </div>