<body>
    <div class="nav navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">{{config.getString('wiki.site_name', 'Wiki')}}</a>
            <button class="button navbar-burger" data-target="mainNavbar">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="navbar-menu" id="mainNavbar">
            <div class="navbar-start">
                <a href="/RecentChanges" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-binoculars"></i>
                    </span> 최근 변경</a>
                <a href="/RecentDiscuss" class="navbar-item">
                    <span class="icon">
                        <i class="far fa-comments"></i>
                    </span> 최근 토론</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="#" class="navbar-link">
                        <span class="icon">
                            <i class="fas fa-cogs"></i>
                        </span> 도구</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/NeededPages">
                            <span class="icon">
                                <i class="fas fa-beer"></i>
                            </span>
                            작성이 필요한 문서
                        </a>
                        <a class="navbar-item" href="/OrphanedPages">
                            <span class="icon">
                                <i class="far fa-frown"></i>
                            </span>
                            고립된 문서
                        </a>
                        <a class="navbar-item" href="/UncategorizedPages">
                            <span class="icon">
                                <i class="far fa-question-circle"></i>
                            </span>
                            분류가 되지 않은 문서
                        </a>
                        <a class="navbar-item" href="/OldPages">
                            <span class="icon">
                                <i class="fas fa-pause"></i>
                            </span>
                            편집된 지 오래된 문서
                        </a>
                        <a class="navbar-item" href="/ShortestPages">
                            <span class="icon">
                                <i class="far fa-thumbs-down"></i>
                            </span>
                            내용이 짧은 문서
                        </a>
                        <a class="navbar-item" href="/LongestPages">
                            <span class="icon">
                                <i class="far fa-thumbs-up"></i>
                            </span>
                            내용이 긴 문서
                        </a>
                        <a class="navbar-item" href="/BlockHistory">
                            <span class="icon">
                                <i class="fas fa-ban"></i>
                            </span>
                            차단 내역
                        </a>
                        <a class="navbar-item" href="/RandomPage">
                            <span class="icon">
                                <i class="fas fa-random"></i>
                            </span>
                            RandomPage
                        </a>
                        <a class="navbar-item" href="/Upload">
                            <span class="icon">
                                <i class="fas fa-cloud-upload-alt"></i>
                            </span>
                            파일 올리기
                        </a>
                        <a href="/License" class="navbar-item">
                            <span class="icon">
                                <i class="far fa-copyright"></i>
                            </span> 라이선스</a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field">
                        <div class="control has-icons-left">
                            <input class="input is-primary" type="text" placeholder="검색" id="wikiSearch">
                            <span class="icon is-small is-left">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="#" class="navbar-link">
                        {% if member %}
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span> {{ member.username }}</a>
                        {% else %}
                        <span class="icon">
                            <i class="fas fa-user-secre"></i>
                        </span> 익명</a>
                        {% endif %}
                    <div class="navbar-dropdown is-right">
                        <a href="#" id="skin-settings" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-wrench"></i>
                            </span> 스킨 설정</a>
                        <div class="navbar-divider"></div>
                        {% if member %}
                        <a href="/mypage" class="navbar-item">
                            <span class="icon">
                                <i class="far fa-user-circle"></i>
                            </span> 내정보</a>
                        <a href="/w/{{ member.username | encode_userdoc }}" class="navbar-item">
                            <span class="icon">
                                <i class="far fa-sticky-note"></i>
                            </span> 내 사용자 문서</a>
                        <div class="navbar-divider"></div>
                        <a href="/contribution/author/{{ member.username }}/document" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-chart-line"></i>
                            </span> 내 문서 기여 목록</a>
                        <a href="/contribution/author/{{ member.username }}/discuss" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-chart-bar"></i>
                            </span> 내 토론 기여 목록</a>
                        <div class="navbar-divider"></div>
                        <a href="/logout?redirect={{ url | url_encode }}" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span> 로그아웃</a>
                        {% else %}
                        <a href="/login?redirect={{ url | url_encode }}" class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-sign-in-alt"></i>
                            </span> 로그인</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="hero is-primary" id="wiki-main-title">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ skinInfo.title }}
                </h1>
                <h2 class="subtitle">
                    {% if skinInfo.viewName == 'wiki' and date %}
                    {{ date | to_date | localdate('Y-m-d H:i:sO') }}에 마지막으로 수정됐습니다.
                    {% else %}
                    Powered by the seed engine
                    {% endif %}
                </h2>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-left is-boxed" id="wiki-article-menu">
                    <ul>
                        {% if document %}
                        <li {% if skinInfo.viewName == 'wiki' %} class="is-active" {% endif %}>
                            <a href="/w/{{ document|encode_doc }}">
                                <span class="icon">
                                    <i class="fas fa-eye"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 읽기</span>
                            </a>
                        </li>
                        <li {% if skinInfo.viewName == 'edit' %} class="is-active" {% endif %}>
                            <a href="/edit/{{ document|encode_doc }}">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 편집</span>
                            </a>
                        </li>
                        <li {% if skinInfo.viewName == 'thread' || skinInfo.viewName == 'thread_list' || skinInfo.viewName == 'thread_list_close' %} class="is-active" {% endif %}>
                            <a href="/discuss/{{ document|encode_doc }}">
                                <span class="icon">
                                    <i class="fas fa-history"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 토론</span>
                            </a>
                        </li>
                        <li {% if skinInfo.viewName == 'move' %} class="is-active" {% endif %}>
                            <a href="/move/{{ document|encode_doc }}">
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 이동</span>
                            </a>
                        </li>
                        <li {% if skinInfo.viewName == 'delete' %} class="is-active" {% endif %}>
                            <a href="/delete/{{ document|encode_doc }}">
                                <span class="icon">
                                    <i class="far fa-trash-alt"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 삭제</span>
                            </a>
                        </li>
                        <li {% if skinInfo.viewName == 'xref' %} class="is-active" {% endif %}>
                            <a href="/xref/{{ document|encode_doc }}">
                                <span class="icon">
                                    <i class="fas fa-random"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 역링크</span>
                            </a>
                        </li>
                        <li {% if skinInfo.viewName == 'history' %} class="is-active" {% endif %}>
                            <a href="/history/{{ document|encode_doc }}">
                                <span class="icon">
                                    <i class="fas fa-history"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 역사</span>
                            </a>
                        </li>
                        <li {% if skinInfo.viewName == 'acl' %} class="is-active" {% endif %}>
                            <a href="/acl/{{ document|encode_doc }}">
                                <span class="icon">
                                    <i class="fas fa-key"></i>
                                </span>
                                <span class="wiki-article-menu-text"> ACL</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="is-active">
                            <a href="#">
                                <span class="icon">
                                    <i class="fas fa-cogs"></i>
                                </span>
                                <span class="wiki-article-menu-text"> 특수문서</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% if user_document_discuss %}
            <div class="notification is-link" data-id="{{ member.username }}-{{ user_document_discuss }}">
                <button class="delete"></button>
                사용자 토론이 있습니다. 확인해주세요.
            </div>
            {% endif %}
            <div class="wiki-article">
                {% block content %}{% endblock %}
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    Content is available under <a href="//creativecommons.org/licenses/by-nc-sa/2.0/kr/">CC BY-SA-NC 2.0 KR</a>.<br>
                    theseed-skin-buma by LiteHell, the seed engine by theseed.io
                </p>
            </div>
        </div>
    </footer>
</body>