<div class="nav navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/" class="navbar-item"><img src="{{ config.getString('wiki.logo_url', '') }}">{{
            config.getString('wiki.site_name', 'Wiki') }}</a>
        <button class="button navbar-burger" data-target="mainNavbar">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="navbar-menu" id="mainNavbar">
        <div class="navbar-start">
            <a href="/RecentChanges" class="navbar-item">
                <span class="icon">
                    <i class="fas fa-binoculars"></i>
                </span> 최근 변경</a>
            <a href="/RecentDiscuss" class="navbar-item">
                <span class="icon">
                    <i class="far fa-comments"></i>
                </span> 최근 토론</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="#" class="navbar-link">
                    <span class="icon">
                        <i class="fas fa-cogs"></i>
                    </span> 도구</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/NeededPages">
                        <span class="icon">
                            <i class="fas fa-beer"></i>
                        </span>
                        작성이 필요한 문서
                    </a>
                    <a class="navbar-item" href="/OrphanedPages">
                        <span class="icon">
                            <i class="far fa-frown"></i>
                        </span>
                        고립된 문서
                    </a>
                    <a class="navbar-item" href="/UncategorizedPages">
                        <span class="icon">
                            <i class="far fa-question-circle"></i>
                        </span>
                        분류가 되지 않은 문서
                    </a>
                    <a class="navbar-item" href="/OldPages">
                        <span class="icon">
                            <i class="fas fa-pause"></i>
                        </span>
                        편집된 지 오래된 문서
                    </a>
                    <a class="navbar-item" href="/ShortestPages">
                        <span class="icon">
                            <i class="far fa-thumbs-down"></i>
                        </span>
                        내용이 짧은 문서
                    </a>
                    <a class="navbar-item" href="/LongestPages">
                        <span class="icon">
                            <i class="far fa-thumbs-up"></i>
                        </span>
                        내용이 긴 문서
                    </a>
                    <a class="navbar-item" href="/BlockHistory">
                        <span class="icon">
                            <i class="fas fa-ban"></i>
                        </span>
                        차단 내역
                    </a>
                    <a class="navbar-item" href="/RandomPage">
                        <span class="icon">
                            <i class="fas fa-random"></i>
                        </span>
                        RandomPage
                    </a>
                    <a class="navbar-item" href="/Upload">
                        <span class="icon">
                            <i class="fas fa-cloud-upload-alt"></i>
                        </span>
                        파일 올리기
                    </a>
                    <a class="navbar-item" href="/License">
                        <span class="icon">
                            <i class="far fa-copyright"></i>
                        </span> 라이선스</a>
                    {%if perms.has('ipacl') %}
                    <a class="navbar-item" href="/admin/ipacl">
                        <span class="icon">
                            <i class="fas fa-ban"></i>
                        </span>
                        [관리] IPACL
                    </a>
                    {% endif %}
                    {%if perms.has('suspend_account') %}
                    <a class="navbar-item" href="/admin/suspend_account">
                        <span class="icon">
                            <i class="fas fa-ban"></i>
                        </span>
                        [관리] 사용자 차단
                    </a>
                    {% endif %}
                    {%if perms.has('grant') %}
                    <a class="navbar-item" href="/admin/grant">
                        <span class="icon">
                            <i class="fas fa-user-plus"></i>
                        </span>
                        [관리] 권한 부여
                    </a>
                    {% endif %}
                    {%if perms.has('login_history') %}
                    <a class="navbar-item" href="/admin/login_history">
                        <span class="icon">
                            <i class="fas fa-history"></i>
                        </span>
                        [관리] 로그인 내역 조회
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="field has-addons">
                <div class="control has-icons-left">
                    <input class="input is-primary" type="text" placeholder="검색" id="wikiSearch">
                    <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <div class="control">
                    <a href="#" class="button" id="wikiSearchBtn">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </a>
                </div>
                <div class="control">
                    <a href="#" class="button" id="wikiGoRandomBtn">
                        <span class="icon">
                            <i class="fas fa-random"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
            <a href="#" class="navbar-link">
                {% if member %}
                <span class="icon">
                    <i class="fas fa-user"></i>
                </span> {{ member.username }}</a>
            {% else %}
            <span class="icon">
                <i class="fas fa-user-secret"></i>
            </span> 익명</a>
            {% endif %}
            <div class="navbar-dropdown is-right">
                <a href="#" id="skin-settings" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-wrench"></i>
                    </span> 스킨 설정</a>
                <a href="#" id="toggle-dark-theme" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-adjust"></i>
                    </span> 다크테마 설정/해제</a>
                <div class="navbar-divider"></div>
                {% if member %}
                <a href="/member/mypage" class="navbar-item">
                    <span class="icon">
                        <i class="far fa-user-circle"></i>
                    </span> 내정보</a>
                <a href="/w/{{ member.username | encode_userdoc }}" class="navbar-item">
                    <span class="icon">
                        <i class="far fa-sticky-note"></i>
                    </span> 내 사용자 문서</a>
                <div class="navbar-divider"></div>
                <a href="/contribution/author/{{ member.username }}/document" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-chart-line"></i>
                    </span> 내 문서 기여 목록</a>
                <a href="/contribution/author/{{ member.username }}/discuss" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-chart-bar"></i>
                    </span> 내 토론 기여 목록</a>
                <a href="/member/starred_documents" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-bookmark"></i>
                    </span> 별찜한 문서들
                </a>
                <div class="navbar-divider"></div>
                <a href="/member/logout?redirect={{ url | url_encode }}" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </span> 로그아웃</a>
                {% else %}
                <a href="/contribution/author/{{ req_ip }}/document" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-chart-line"></i>
                    </span> 내 문서 기여 목록</a>
                <a href="/contribution/author/{{ req_ip }}/discuss" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-chart-bar"></i>
                    </span> 내 토론 기여 목록</a>
                <div class="navbar-divider"></div>
                <a href="/member/login?redirect={{ url | url_encode }}" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-sign-in-alt"></i>
                    </span> 로그인</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<section class="hero {% if error || skinInfo.viewName === 'notfound' %}is-danger{% else %}is-primary{% endif %}" id="wiki-main-title">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{ skinInfo.title }}{% if rev %} (r{{ rev }} 판){% endif %}
            </h1>
            <h2 class="subtitle">
                {% if skinInfo.viewName == 'wiki' and date %}
                {{ date | to_date | localdate('Y-m-d H:i:sO') }}에 마지막으로 수정됐습니다.
                {% elseif skinInfo.viewName == 'notfound' %}
                존재하지 않는 문서입니다. 직접 자유롭게 기여해보세요!
                {% else %}
                Powered by the seed engine
                {% endif %}
                {% if rev %}
                (현재 r{{ rev }}판을 보고계십니다.)
                {% endif %}
            </h2>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container">
            <div class="tabs is-left is-boxed" id="wiki-article-menu">
                <ul>
                    {% if document %}
                    <li {% if skinInfo.viewName=='wiki' %} class="is-active" {% endif %}>
                        <a href="/w/{{ document|encode_doc }}">
                            <span class="icon">
                                <i class="fas fa-eye"></i>
                            </span>
                            <span class="wiki-article-menu-text"> 읽기</span>
                        </a>
                    </li>
                    <li {% if skinInfo.viewName=='edit' %} class="is-active" {% endif %}>
                        <a href="/edit/{{ document|encode_doc }}" class="edit-anchor">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span class="wiki-article-menu-text"> 편집</span>
                        </a>
                    </li>
                    <li {% if skinInfo.viewName=='thread' || skinInfo.viewName=='thread_list' || skinInfo.viewName=='thread_list_close'
                        %} class="is-active" {% endif %}>
                        <a href="/discuss/{{ document|encode_doc }}">
                            <span class="icon">
                                <i class="far fa-comments"></i>
                            </span>
                            <span class="wiki-article-menu-text"> 토론</span>
                        </a>
                    </li>
                    <li {% if skinInfo.viewName=='move' %} class="is-active" {% endif %}>
                        <a href="/move/{{ document|encode_doc }}">
                            <span class="icon">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <span class="wiki-article-menu-text"> 이동</span>
                        </a>
                    </li>
                    <li {% if skinInfo.viewName=='delete' %} class="is-active" {% endif %}>
                        <a href="/delete/{{ document|encode_doc }}">
                            <span class="icon">
                                <i class="far fa-trash-alt"></i>
                            </span>
                            <span class="wiki-article-menu-text"> 삭제</span>
                        </a>
                    </li>
                    <li {% if skinInfo.viewName=='xref' %} class="is-active" {% endif %}>
                        <a href="/xref/{{ document|encode_doc }}">
                            <span class="icon">
                                <i class="fas fa-random"></i>
                            </span>
                            <span class="wiki-article-menu-text"> 역링크</span>
                        </a>
                    </li>
                    <li {% if skinInfo.viewName=='history' %} class="is-active" {% endif %}>
                        <a href="/history/{{ document|encode_doc }}" class="history-anchor">
                            <span class="icon">
                                <i class="fas fa-history"></i>
                            </span>
                            <span class="wiki-article-menu-text"> 역사</span>
                        </a>
                    </li>
                    <li {% if skinInfo.viewName=='acl' %} class="is-active" {% endif %}>
                        <a href="/acl/{{ document|encode_doc }}">
                            <span class="icon">
                                <i class="fas fa-key"></i>
                            </span>
                            <span class="wiki-article-menu-text"> ACL</span>
                        </a>
                    </li>
                    {% if star_count >= 0 %}
                    <li class="star-tab{% if starred %} starred {% endif %}">
                        <a href="/member/{% if starred %}un{% endif %}star/{{ document|encode_doc }}">
                            <span class="icon">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="wiki-article-menu-text"> {% if starred %}별찜 해제{% else %}별찜{% endif %} (</span><span
                                class="star-count">{{ star_count }}</span><span class="wiki-article-menu-text">)</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if user %}
                    <li>
                        <a href="/contribution/author/{{ document.title|url_encode }}/document">
                            <span class="icon">
                                <i class="fas fas fa-chart-line"></i>
                            </span>
                            <span class="wiki-article-menu-text"> 기여내역</span>
                        </a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="is-active">
                        <a href="#">
                            <span class="icon">
                                <i class="fas fa-cogs"></i>
                            </span>
                            <span class="wiki-article-menu-text"> 특수문서</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% if user_document_discuss %}
        <div class="notification is-link" data-id="{{ member.username }}-{{ user_document_discuss }}">
            <button class="delete"></button>
            <a href="/discuss/{{ member.username | encode_userdoc }}">사용자 토론</a>이 있습니다. 확인해주세요.
        </div>
        {% endif %}
        {% if config.getString('wiki.sitenotice', null) %}
        <div class="notification">
            <button class="delete"></button>
            {{ config.getString('wiki.sitenotice', '')|safe }}
        </div>
        {% endif %}
        <div class="wiki-article content">
            {% block content %}{% endblock %}
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                {{ config.getString('wiki.copyright_text', '') }}<br>
                {{ config.getString('wiki.footer_text', '') }}<br>
                theseed-skin-buma by LiteHell, the seed engine by theseed.io
            </p>
        </div>
    </div>
</footer>
<div class="modal settings-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">buma 스킨 설정</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <article class="message is-info">
                <div class="message-header">
                    <p>안내</p>
                </div>
                <div class="message-body">
                    스킨 설정은 새로고침해야 적용됩니다.
                </div>
            </article>
            <h2 class="title is-4">위키 문서내 취소선</h2>
            <h2 class="subtitle is-6">위키 문서내 취소선을 싫어하시는 분들을 위한 설정입니다.</h3>
                <div class="field">
                    <div class="control">
                        <label class="raido">
                            <input type="radio" name="hideDeletedOnWiki" value="hide"> 숨기기
                        </label>
                        <label class="raido">
                            <input type="radio" name="hideDeletedOnWiki" value="undelete"> 취소선 해제
                        </label>
                        <label class="raido">
                            <input type="radio" name="hideDeletedOnWiki" value="doNothing"> 아무것도 하지 않음
                        </label>
                        <label class="raido">
                            <input type="radio" name="hideDeletedOnWiki" value="skinDefault"> 스킨 기본값
                        </label>
                    </div>
                </div>
                <h2 class="title is-4">Animated gif를 동영상으로 보여주지 않기</h2>
                <h2 class="subtitle is-6">GIF가 정상적으로 재생되지 않는 경우 변경하세요.</h3>
                    <div class="field">
                        <div class="control">
                            <label class="raido">
                                <input type="radio" name="noVideoForGif" value="yes"> 네
                            </label>
                            <label class="raido">
                                <input type="radio" name="noVideoForGif" value="no"> 아니오
                            </label>
                            <label class="raido">
                                <input type="radio" name="noVideoForGif" value="skinDefault"> 스킨 기본값
                            </label>
                        </div>
                    </div>
                    <h2 class="title is-4">문단 제목 기본으로 접기</h2>
                    <h2 class="subtitle is-6">문단 제목을 기본으로 접을시의 여부입니다.</h3>
                        <div class="field">
                            <div class="control">
                                <label class="raido">
                                    <input type="radio" name="foldHeadingsByDefault" value="yes"> 네
                                </label>
                                <label class="raido">
                                    <input type="radio" name="foldHeadingsByDefault" value="no"> 아니오
                                </label>
                                <label class="raido">
                                    <input type="radio" name="foldHeadingsByDefault" value="skinDefault"> 스킨 기본값
                                </label>
                            </div>
                        </div>
                        <h2 class="title is-4">더블 클릭시 행동</h2>
                        <h2 class="subtitle is-6">더블 클릭시의 행동입니다.</h3>
                            <div class="field">
                                <div class="control">
                                    <label class="raido">
                                        <input type="radio" name="behaviorWhenDblClick" value="edit"> 편집
                                    </label>
                                    <label class="raido">
                                        <input type="radio" name="behaviorWhenDblClick" value="history"> 역사
                                    </label>
                                    <label class="raido">
                                        <input type="radio" name="behaviorWhenDblClick" value="doNothing"> 아무것도 하지 않음
                                    </label>
                                    <label class="raido">
                                        <input type="radio" name="behaviorWhenDblClick" value="skinDefault"> 스킨 기본값
                                    </label>
                                </div>
                            </div>
                            <h2 class="title is-4">점프 버튼 활성화</h2>
                            <h2 class="subtitle is-6">위/아래로 이동하는 점프 버튼을 표시할지의 여부입니다</h3>
                                <div class="field">
                                    <div class="control">
                                        <label class="raido">
                                            <input type="radio" name="enableJumpButtons" value="yes"> 활성화
                                        </label>
                                        <label class="raido">
                                            <input type="radio" name="enableJumpButtons" value="no"> 비활성화
                                        </label>
                                        <label class="raido">
                                            <input type="radio" name="enableJumpButtons" value="skinDefault"> 스킨 기본값
                                        </label>
                                    </div>
                                </div>
        </section>
    </div>
</div>
<div class="jump-buttons">
    <ul>
        <li>
            <div class="icon jump-up">
                <div class="fas fa-arrow-up"></div>
            </div>
        </li>
        <li>
            <div class="icon jump-down">
                <div class="fas fa-arrow-down"></div>
            </div>
        </li>
    </ul>
</div>