#wiki-article-menu ul li .wiki-article-menu-text {
  display: none;
}
#wiki-article-menu ul li:hover .wiki-article-menu-text,
#wiki-article-menu ul li.is-active .wiki-article-menu-text {
  display: initial;
}
.res-wrapper {
  display: block;
  margin: 30px 0px;
}
@keyframes head-loading {
  from {
    background-color: #747474;
  }
  to {
    background-color: #cacaca;
  }
}
@keyframes body-loading {
  from {
    background-color: #e2d7d7;
  }
  to {
    background-color: #f3f3f3;
  }
}
.res-wrapper.res-loading[data-visible="true"] .r-head {
  animation: head-loading 0.5s infinite;
}
.res-wrapper.res-loading[data-visible="true"] .r-body {
  animation: body-loading 0.5s infinite;
}
.topic-discuss a.more-box {
  padding: 10px;
  margin-left: 20px;
  border: 1px solid black;
}
.res .r-head {
  padding: 10px 12px 5px 15px;
  background: #aaaaaa;
  border-radius: 4px 4px 0px 0px;
}
.res .r-head.first-author {
  background: #70cc93;
}
.res .r-head .pull-right {
  float: right;
}
.res .r-body {
  padding: 5px 10px 10px 15px;
  background: #e8e8e8;
  border-radius: 0px 0px 4px 4px;
}
.res .r-body.r-hidden-body {
  background: black;
  color: white;
}
.res .r-body.r-hidden-body .hidden-content {
  display: none;
}
.res .combo.admin-menu {
  padding: 5px;
}
.res.res-type-status .r-body {
  background: orange;
}
textarea#textInput,
iframe#previewFrame {
  height: 500px;
  width: 100%;
}
.wiki-article .wiki-category > ul {
  margin: 0;
}
/* expandable navbar dropdown in mobile */
/* from https://github.com/jgthms/bulma/issues/1218 */
@media screen and (max-width: 767px) {
  .navbar-link:after {
    border: 1px solid #00d1b2;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
  }
}
